spring:
  profiles: dev-peer1

server:
  port: 8761
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    service-url:
       defaultZone: http://${eureka.instance.hostname}:8762/eureka/
    register-with-eureka: false
    fetch-registry: false

#  server:
#    enable-self-preservation: false
