spring:
  profiles: test-peer1
  application:
    name: eureka-server
server:
  port: 8761
eureka:
  instance:
    prefer-ip-address: true
    hostname: eureka-server
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    service-url:
       defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: false
    fetch-registry: false

#  server:
#    enable-self-preservation: false
