spring:
  application:
    name: client-feign
  zipkin:
    base-url: http://zipkin-service:9411
  sleuth:
    sampler:
      probability: 1.0
# sleuth.sampler.probability 是监控的百分比，默认的是0.1表示10%,这里给1.0表示全部监控
# spring.zipkin.base-url：是zipkin-server的服务路径
#  security:
#    user:
#      name: "client"
#      password: "client"

management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  file: var/log/client-feign.log

server:
  port: 8765
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    health-check-url-path: /actuator/health
    prefer-ip-address: true
#    metadata-map:
#      user.name:  ${spring.security.user.name}
#      user.password:  ${spring.security.user.password}
  client:
    registry-fetch-interval-seconds: 5
    service-url:
      defaultZone: http://localhost:8761/eureka/

# 在Feign客户端开启Hystrix的支持
# feign.hystrix.enabled=true
feign:
  hystrix:
    enabled: true

